<!DOCTYPE html>

<html>
  <head>
    <link rel="stylesheet" media="screen" href="assets/stylesheets/reset.css" />
    <link rel="stylesheet" media="screen" href="assets/stylesheets/960.css" />

    <link rel="stylesheet" media="screen" href="assets/lib/bootstrap.min.css">
    <link rel="stylesheet" media="screen" href="assets/lib/c3/c3.min.css" />
    <link rel="stylesheet" media="screen" href='assets/lib/cesium/Widgets/widgets.css' />

    <link rel="stylesheet" media="screen" href="assets/stylesheets/page.css" />

    <script src="assets/lib/d3.min.js"></script>
    <script src="assets/lib/c3/c3.min.js"></script>
    <script src="assets/lib/cesium/Cesium.js"></script>

    <script src="assets/data.js"></script>

    <script src="assets/javascripts/cesium.js"></script>
    <script src="assets/javascripts/chart.js"></script>
    <script src="assets/javascripts/page.js"></script>

    <title><%= title %></title>
  </head>

  <body>
    <div class="container_12">
      <div class="grid_12">
        <h3><%= title %></h3>
      </div>

      <div class="grid_12">
        <h4>Stats</h4>

        <table class="table">
          <thead>
            <th>Actual apogee</th>
            <th>Calculated apogee</th>
            <th>Apogee cause</th>
            <th>Main chute target</th>
            <th>Main chute actual</th>
            <th>Average temperature</th>
          </thead>

          <tbody>
            <tr>
              <td><%= @actual_apogee %>m</td>
              <td><%= @calculated_apogee %>m</td>
              <td><%= @apogee_cause %></td>
              <td><%= @main_chute_altitude %>m</td>
              <td>TODO</td>
              <td><%= @average_temperature.round(2) %> &deg;C</td>
            </tr>
          </tbody>
        </table>

        <table class="table">
          <thead>
            <th>Flight time</th>
            <th>Ascent time</th>
            <th>Ascent rate</th>
            <th>Descent time</th>
            <th>Descent rate - drogue</th>
            <th>Descent rate - main</th>
          </thead>

          <tbody>
            <tr>
              <td>TODO</td>
              <td>TODO</td>
              <td>TODO</td>
              <td>TODO</td>
              <td>TODO</td>
              <td>TODO</td>
            </tr>
          </tbody>
        </table>
      </div>

      <div class="grid_12">
        <h4>Altitude Graph</h4>
      </div>

      <div class="grid_2">
        <ul>
          <li><label><input type="checkbox" checked="checked" data-series="Above Ground Level" />Altitude</label></li>
          <li><label><input type="checkbox" data-series="Pressure Altitude" />Pressure Altitude</label></li>
          <li><label><input type="checkbox" data-series="GPS Altitude" />GPS Altitude</label></li>
          <li><label><input type="checkbox" checked="checked" data-series="Acceleration" />Acceleration</label></li>
        </ul>
      </div>

      <div class="grid_10">
        <div id="chart"></div>
      </div>

      <div class="grid_12">
        <h4>Flight Path</h4>
      </div>

      <div class="grid_12">
        <div id="cesium"></div>
        <div id="credits"></div>
      </div>
    </div>

    <script>ready();</script>
  </body>
</html>
