<!DOCTYPE html>

<html>
  <head>
    <link rel="stylesheet" media="screen" href="assets/stylesheets/reset.css" />
    <link rel="stylesheet" media="screen" href="assets/stylesheets/960.css" />

    <link rel="stylesheet" media="screen" href="assets/lib/bootstrap.min.css">
    <link rel="stylesheet" media="screen" href="assets/lib/c3/c3.min.css" />
    <link rel="stylesheet" media="screen" href='assets/lib/cesium/Widgets/widgets.css' />

    <link rel="stylesheet" media="screen" href="assets/stylesheets/page.css" />

    <script src="assets/lib/d3.min.js"></script>
    <script src="assets/lib/c3/c3.min.js"></script>
    <script src="assets/lib/cesium/Cesium.js"></script>

    <script src="assets/data.js"></script>

    <script src="assets/javascripts/cesium.js"></script>
    <script src="assets/javascripts/chart.js"></script>
    <script src="assets/javascripts/model.js"></script>
    <script src="assets/javascripts/page.js"></script>

    <link rel="shortcut icon" type="image/x-icon" href="assets/images/favicon.png" />

    <title><%= title %></title>
  </head>

  <body>
    <div class="container_12">
      <div class="grid_12">
        <h3><%= title %></h3>
      </div>

      <div id="no_ajax_error" class="alert alert-danger grid_12">
        Unable to access local files due to browser security restrictions. See below for workarounds.

        <ul>
          <li>Chrome: Start with <code>--allow-file-access-from-files</code> flag.</li>
          <li>Firefox &amp; Safari: This shouldn't be a problem.</li>
          <li>IE: <a href="https://getfirefox.com">https://getfirefox.com</a></li>
        </ul>
      </div>

      <div class="grid_12">
        <h4>Stats</h4>

        <table class="table">
          <thead>
            <th>Actual apogee</th>
            <th>Calculated apogee</th>
            <th>Apogee cause</th>
            <th>Main chute target</th>
            <th>Main chute actual</th>
            <th>Average temperature</th>
          </thead>

          <tbody>
            <tr>
              <td><%= @actual_apogee %>m <div class="sub">(<%= @actual_apogee.feet.round(2) %>ft)</div></td>
              <td><%= @calculated_apogee %>m <div class="sub">(<%= @calculated_apogee.feet.round(2) %>ft)</div></td>
              <td><%= @apogee_cause %></td>
              <td><%= @main_chute_altitude %>m <div class="sub">(<%= @main_chute_altitude.feet.round(2) %>ft)</div></td>
              <td><%= @main_chute_actual %>m <div class="sub">(<%= @main_chute_actual.feet.round(2) %>ft)</div></td>
              <td><%= @average_temperature.round(2) %> &deg;C</td>
            </tr>
          </tbody>
        </table>

        <table class="table">
          <thead>
            <th>Flight time</th>
            <th>Ascent time</th>
            <th>Ascent rate</th>
            <th>Descent time</th>
            <th>Descent rate - drogue</th>
            <th>Descent rate - main</th>
          </thead>

          <tbody>
            <tr>
              <td><%= @flight_time_minutes %>m <%= '%02d' % @flight_time_seconds %>s</td>
              <td><%= @ascent_time %>s</td>
              <td><%= @ascent_rate.round(2) %> m/s</td>
              <td><%= @descent_time_minutes %>m <%= '%02d' % @descent_time_seconds %>s</td>
              <td><%= @descent_rate_drogue.round(2) %> m/s</td>
              <td><%= @descent_rate_main.round(2) %> m/s</td>
            </tr>
          </tbody>
        </table>
      </div>

      <div class="grid_12">
        <h4>Altitude Graph</h4>
      </div>

      <div id="chart_controls" class="grid_2">
        <ul>
          <li>
            <input type="checkbox" id="series_agl" checked="checked" data-series="Above Ground Level" />
            <label for="series_agl">Altitude</label>
          </li>
          <li>
            <input type="checkbox" id="series_pressure_altitude" data-series="Pressure Altitude" />
            <label for="series_pressure_altitude">Pressure Altitude</label>
          </li>
          <li>
            <input type="checkbox" id="series_gps_altitude" data-series="GPS Altitude" />
            <label for="series_gps_altitude">GPS Altitude</label>
          </li>
          <li>
            <input type="checkbox" id="series_acceleration" checked="checked" data-series="Acceleration" />
            <label for="series_acceleration">Acceleration</label>
          </li>
          <li>
            <input type="checkbox" id="series_ground_speed" checked="checked" data-series="Ground Speed" />
            <label for="series_ground_speed">Ground Speed</label>
          </li>
        </ul>
      </div>

      <div class="grid_10">
        <div id="chart"></div>
      </div>

      <div class="grid_12">
        <h4>Flight Path</h4>
      </div>

      <div class="grid_12">
        <input type="checkbox" id="track_rocket" /><label for="track_rocket">Track rocket</label>

        <div id="cesium"></div>
        <div id="credits"></div>
      </div>
    </div>

    <script>ready();</script>
  </body>
</html>
